/* Destiny's website was created and coded by Lorna Harris */

/* Global */

/* Header & Nav */

    header {
        width: 100%;
        height: 450px;
        background: url(../IMG/coverphoto.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }


/* Body */

/* Footer */

/* Media Queries */