/* Destiny's website was created and coded by Lorna Harris */

/* Global */

/* Header & Nav */

/* Body */

body {
    background-color: black;
}

/* SVG */

.logo {
   height: 800px;
   z-index: 0;
}

.logobox {
    text-align: center;
}

/* Footer */

/* Media Queries */